<div class="modal fade" id="modal-agregar-HS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center">
    <div class="modal-content text-white text-center rounded-4">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Agregar nueva habilidad blanda</h3>
        <button type="button" class="btn-close bg-white rounded-circle mb-4" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body d-flex justify-content-center">
        <form [formGroup]="softSkillForm" (submit)="crearNewSkill()" class="w-100">
          <div class="form-group m-3">
            <label>Porcentaje</label>
            <input type="number" class="form-control text-center" name="porcentaje" id="input-porcentaje" formControlName="porcentaje">
          </div>
          <div *ngIf="porcentaje?.errors && porcentaje?.touched">
            <div *ngIf="porcentaje?.hasError('required')" class="alert alert-danger" role="alert">
              Debe ingresar el porcentaje de la habilidad.
            </div>
          </div>
          <div class="form-group m-3">
            <label>Nombre</label>
            <input type="text" class="form-control text-center" name="nombre" formControlName="nombre">
          </div>
          <div *ngIf="nombre?.errors && nombre?.touched">
            <div *ngIf="nombre?.hasError('required')" class="alert alert-danger" role="alert">
              Debe ingresar el porcentaje de la habilidad.
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>