<div class="modal fade" id="modal-agregar-educacion" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center">
    <div class="modal-content text-white text-center rounded-4">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Agregar educación</h3>
        <button type="button" class="btn-close bg-white rounded-circle mb-4" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="educacionForm" (ngSubmit)="crearNuevoCurso()" #form="ngForm">
          <div class="form-group m-3">
            <label for="imagenCurso">Logo de la Institución</label>
            <input type="file" class="form-control" name="imagenCurso" formControlName="imgCurso" (change)="uploadImage($event)">
          </div>
          <div *ngIf="imagenCurso?.errors && imagenCurso?.touched">
            <div *ngIf="imagenCurso?.hasError('required')" class="alert alert-danger" role="alert">
              Debe ingresar la imagen de la Institución.
            </div>
          </div>
          <div class="form-group m-3">
            <label for="tituloCurso">Título del Curso</label>
            <input type="text" class="form-control" name="tituloCurso" formControlName="tituloCurso">
          </div>
          <div *ngIf="tituloCurso?.errors && tituloCurso?.touched">
            <div *ngIf="tituloCurso?.hasError('required')" class="alert alert-danger" role="alert">
              Debe ingresar el título de la carrera o curso.
            </div>
          </div>
          <div class="form-group m-3">
            <label for="anioCurso">Año inicio - Año fin</label>
            <input type="text" class="form-control" name="anioCurso" formControlName="anio">
          </div>
          <div *ngIf="anioCurso?.errors && anioCurso?.touched">
            <div *ngIf="anioCurso?.hasError('required')" class="alert alert-danger" role="alert">
              Debe ingresar el año en que ha cursado.
            </div>
          </div>
          <div class="form-group m-3">
            <label for="descripcionCurso">Descripción del Curso</label>
            <textarea rows="5" type="text" class="form-control" name="descripcionCursoo" formControlName="descripcionCurso"></textarea>
          </div>
          <div *ngIf="descripcionCurso?.errors && descripcionCurso?.touched">
            <div *ngIf="descripcionCurso?.hasError('required')" class="alert alert-danger" role="alert">
              Debe ingresar la descripción de la cursada.
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" [disabled]="imagenCurso?.hasError('required') || tituloCurso?.hasError('required') || anioCurso?.hasError('required') || descripcionCurso?.hasError('required')" data-bs-dismiss="modal" class="btn btn-primary">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>