<div class="modal fade" id="modal-agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center">
    <div class="modal-content text-white text-center rounded-4">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Agregar experiencia laboral</h3>
        <button type="button" class="btn-close bg-white rounded-circle mb-4" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="experienciaForm" (ngSubmit)="crearExp()" novalidate #form="ngForm">
          <div class="form-group m-3">
            <label for="imagenExp">Logo de la empresa</label>
            <input type="file" class="form-control" id="imagenExp" name="imgExp" formControlName="imgExperiencia">
          </div>
          <div *ngIf="imgExp?.errors && imgExp?.touched">
            <div *ngIf="imgExp?.hasError('required')" class="alert alert-danger" role="alert">
              Debe ingresar la imagen de la Institución.
            </div>
          </div>
          <div class="form-group m-3">
            <label for="puestoTrabajo">Título del Puesto</label>
            <input type="text" class="form-control" id="puestoTrabajo" name="puesto" formControlName="puesto">
          </div>
          <div *ngIf="puestoExp?.errors && puestoExp?.touched">
            <div *ngIf="puestoExp?.hasError('required')" class="alert alert-danger" role="alert">
              Debe ingresar el nombre del puesto.
            </div>
          </div>
          <div class="form-group m-3">
            <label for="anioTrabajo">Año inicio - Año fin</label>
            <input type="text" class="form-control" id="anioTrabajo" name="anio" formControlName="anio">
          </div>
          <div *ngIf="anioExp?.errors && anioExp?.touched">
            <div *ngIf="anioExp?.hasError('required')" class="alert alert-danger" role="alert">
              Debe ingresar el año del puesto.
            </div>
          </div>
          <div class="form-group m-3">
            <label for="descripcion">Descripción del puesto</label>
            <textarea rows="5" type="text" class="form-control" id="descripcion" name="descripcionTrabajo" formControlName="descripcionTrabajo"></textarea>
          </div>
          <div *ngIf="descripcionExp?.errors && descripcionExp?.touched">
            <div *ngIf="descripcionExp?.hasError('required')" class="alert alert-danger" role="alert">
              Debe agregar la descripción del puesto.
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" [disabled]="imgExp?.hasError('required') || puestoExp?.hasError('required') || anioExp?.hasError('required') || descripcionExp?.hasError('required')" data-bs-dismiss="modal" class="btn btn-primary">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
