<!------------- MODAL------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center">
    <div class="modal-content rounded-4 p-1">
      <div class="modal-header">
        <h1 class="modal-title text-light" id="exampleModalLabel">Iniciar Sesión</h1>
        <button type="button" class="btn-close bg-white rounded-circle" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="row justify-content-center mb-4">
          <div class="col-sm-10">
            <div>
              <label for="userEmail"></label>
              <input class="form-control text-center mb-2" type="email" placeholder="Ingrese su email" id="userEmail"
                name="email" formControlName="email">
            </div>

            <div *ngIf="Mail?.errors && Mail?.touched">
              <div *ngIf="Mail?.hasError('required')" class="alert alert-danger" role="alert">
                Debe ingresar el email
              </div>
              <div *ngIf="Mail?.hasError('email')" class="alert alert-danger" role="alert">
                El formato del email debe ser válido.
              </div>
            </div>

            <div>
              <label for="userPassword"></label>
              <input class="form-control text-center mb-2" type="password" id="inputPassword" placeholder="Ingrese su clave"
                id="userPassword" name="password" formControlName="password">
            </div>

            <div *ngIf="Password?.errors && Password?.touched">
              <div *ngIf="Password?.hasError('required')" class="alert alert-danger" role="alert">
                Debe ingresar la contraseña
              </div>
            </div>
          </div>

          <div class="modal-footer mt-4 justify-content-center">
            <button type="submit" [disabled]="Mail?.hasError('required') || Password?.hasError('required')" class="btn text-center" data-bs-dismiss="modal">Ingresar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>