<div class="modal fade" id="modal-educacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
      <div class="modal-content text-white text-center rounded-4">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Editar tarjeta Educación</h3>
          <button type="button" class="btn-close bg-white rounded-circle mb-4" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form (ngSubmit)="editarEducacion()" #form="ngForm">
              <div class="form-group m-3">
                <label for="LogoCurso">Logo de la institución</label>
                <input type="file" class="form-control text-center" id="LogoCurso" name="imgCurso" [(ngModel)]="educacionService.educacionModal.imgCurso" (change)="uploadImage($event)">
              </div>
              <div class="form-group m-3">
                <label for="tituloCurso">Título del Curso</label>
                <input type="text" class="form-control text-center" id="tituloCurso" name="tituloCurso" [(ngModel)]="educacionService.educacionModal.tituloCurso">
              </div>
              <div class="form-group m-3">
                <label for="anioCurso">Año inicio - Año fin</label>
                <input type="text" class="form-control text-center" id="anioCurso" name="anioCurso" [(ngModel)]="educacionService.educacionModal.anio">
              </div>
              <div class="form-group m-3">
                <label for="descripcionCurso">Descripción del Curso</label>
                <textarea rows="5" type="text" class="form-control text-center" id="descripcionCurso" name="descripcionCurso" [(ngModel)]="educacionService.educacionModal.descripcionCurso"></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Aceptar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
