<!-------- MODAL SOBRE MI -------->
<div class="modal fade" id="editarPerfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
      <div class="modal-content text-white text-center rounded-4">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Editar Información Personal</h3>
          <button type="button" class="btn-close rounded-circle bg-white mb-4" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form (ngSubmit)="editarPerfil()" #form="ngForm">
              <div class="form-group m-3">
                <label for="imgPerfil">Foto de Perfil</label>
                <input type="file" class="form-control text-center" id="imgPerfil" name="imgPerfil" [(ngModel)]="perfilService.perfilModal.imgPerfil">
              </div>
              <div class="form-group m-3">
                <label for="nombreCompleto">Nombre Completo</label>
                <input type="text" class="form-control text-center" id="nombreCompleto" name="nombreCompleto" [(ngModel)]="perfilService.perfilModal.nombreCompleto">
              </div>
              <div class="form-group m-3">
                <label for="titulo">Título</label>
                <input type="text" class="form-control text-center" id="titulo" name="titulo" [(ngModel)]="perfilService.perfilModal.titulo">
              </div>
              <div class="form-group m-3">
                <label for="acerca">Acerca de mí</label>
                <textarea rows="5" type="text" class="form-control text-center" id="acerca" name="acerca" [(ngModel)]="perfilService.perfilModal.acerca"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Aceptar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
