<section class="fixed-bottom d-flex justify-content-center">
    <div class="accordion d-flex justify-content-center w-100" id="accordionExample">
        <div class="accordion-item text-center" id="barra-inferior">
            <a class="acordeon-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                <img class="flecha-acordeon" src="../../assets/icons8-flecha-contraer-50.png" alt="">
            </a>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row row-cols-3 justify-content-around gap-2 text-center">
                        <div class="col-auto col-md-auto">
                            <a class="item-scrollspy list-group-item list-group-item-action rounded-3"
                                href="#sobre-mi">Inicio</a>
                        </div>
                        <div class="col-auto col-md-auto">
                            <a class="item-scrollspy list-group-item list-group-item-action rounded-3"
                                href="#experiencia-laboral">Experiencias</a>
                        </div>
                        <div class="col-auto col-md-auto">
                            <a class="item-scrollspy list-group-item list-group-item-action rounded-3"
                                href="#educacion">Educación</a>
                        </div>
                        <div class="col-auto col-md-auto">
                            <a class="item-scrollspy list-group-item list-group-item-action rounded-3"
                                href="#soft-skills">H & S
                                Skills</a>
                        </div>
                        <div class="col-auto col-md-auto">
                            <a class="item-scrollspy list-group-item list-group-item-action rounded-3"
                                href="#proyectos">Proyectos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

