.nav-item{
    width: 65px; 
    height: 65px;
    text-align: center;
    padding: 1px;
    border-radius: 50%; 
    border: 3px solid #d8e2dc;
    margin: 0 10px;
 }

/* Diseño iconos en pagina home */
.nav-item .fa{
    font-size: 35px;
    color: #d8e2dc; 
    margin-top: 3px; 
 }

.nav-item .fa-github{
    font-size: 40px;
    margin-top: 0px; 
} 
 
.nav-item .user{
     font-size: 40px;
     color: #d8e2dc; 
     align-items: center;
     transition: all 0.5s ease;
}

.fa-user{
    margin-top: 10px !important;
}
 
.nav-item:hover.linkedin{
     border: 3px solid #1068b1;
     box-shadow: 0 0 15px #1068b1;
     transform: scale(1.1);
     transition: 0.5s;
 }
 
 .nav-item:hover .fa-linkedin{
     color: #1068b1;
     transform: scale(1.1);
     transition: 0.5s;
 }
 
 .nav-item:hover.github{
     border: 3px solid #caced6;
     box-shadow: 0 0 15px #caced6;
     transform: scale(1.1);
     transition: 0.5s;
 }
 
 .nav-item:hover .fa-github{
     color: #caced6;
     text-shadow: 0 0 15px #caced6;
     transform: scale(1.1);
     transition: 0.5s;
 }
 
 
 .nav-item:hover.instagram{
     border: 3px solid #ca1995;
     box-shadow: 0 0 15px #ca1995;
     transform: scale(1.1);
     transition: 0.5s;
 }
 
 .nav-item:hover .fa-instagram{
     color: #ca1995;
     text-shadow: 0 0 15px #ca1995;
     transform: scale(1.1);
     transition: 0.5s;
 }
 
 .nav-item:hover.user{
     border: 3px solid #05af76;
     box-shadow: 0 0 15px #05af76;
     transform: scale(1.1);
     transition: 0.5s;
 }
 
.nav-item:hover .fa-user{
     color: #05af76;
     text-shadow: 0 0 15px #05af76;
     transform: scale(1.1);
     transition: 0.5s;
}

/* ------------- PÁGINA ADMIN--------------- */
/* diseño circulo en pagina admin */
.user-admin{
    width: 70px; 
    height: 70px;
    text-align: center;
    border-radius: 50%; 
    border: 3px solid #d8e2dc;
    margin: 10px;
    float: left;
    transition: all 0.5s ease;
}

.user-admin:hover{
    border: 3px solid #e71146;
    box-shadow: 0 0 30px #e71146;
}

/*icono user pagina admin*/
.icono-user-admin{
    font-size: 35px;
    color: #d8e2dc; 
    margin-top: 13px !important;
    transition: all 0.5s ease;
}

.user-admin:hover .icono-user-admin{
    color: #e71146;
    text-shadow: 0 0 30px #e71146;
    transform: scale(1.1);
    transition: 0.5s;
}


@media(max-width: 768px){
    .navbar{
        flex-direction: column;        
    }

    .navbar-nav{
        justify-content: center;
    }

     /* circulos */
     .nav-item{
        width: 50px; 
        height: 50px;
        border-radius: 50%; 
        border: 2px solid #d8e2dc;
        margin: 0 10px;
        transition: all 0.5s ease;
     }

     .user-admin{
        width: 50px; 
        height: 50px;
        border: 2px solid #d8e2dc;
    }

    /* acomodando iconos dentro de los circulos*/
    .nav-item .fa{
        font-size: 30px;
        position: relative;
        bottom: 6px;
    }

    .icono-user-admin{
        font-size: 30px;
        position: relative;
        bottom: 5px;
    }

    .fa-user{
        margin-top: 12px !important;
    }
   
    .nav-item:hover.linkedin{
        border: 2px solid #1068b1;
    }

    .nav-item .fa-github{
        margin-top: 5px;
    }
  
    .nav-item:hover.github{
        border: 2px solid #caced6;
    }

    .nav-item .fa-instagram{
        margin-top: 5px;
        margin-right: 1px;
    }
    
    .nav-item:hover.instagram{
        border: 2px solid #c7088e;
    }
    
    .nav-item:hover.user{
        border: 2px solid #05af76;
    }
}