<nav class="navbar navbar-expand justify-content-between p-4">
  <app-logoAp></app-logoAp>
  <ul class="navbar-nav align-items-center justify-content-end">

    <li class="nav-item linkedin"><a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a></li>
    <li class="nav-item github"><a class="nav-link" href="#"><i class="fa fa-github"></i></a></li>
    <li class="nav-item instagram"><a class="nav-link" href="#"><i class="fa fa-instagram"></i></a></li>
    <!--Button trigger modal-->
    <li class="nav-item user" *ngIf="!isLogged"><i class="fa fa-user" type="button" data-bs-toggle="modal"
        data-bs-target="#exampleModal"></i>
    </li>
    <li class="user-admin" (click)="notLogged()" *ngIf="isLogged"><i class="fa fa-user icono-user-admin"
        type="button"></i></li>

  </ul>
</nav>
<app-modalLogin></app-modalLogin>