body {
    background: linear-gradient(-45deg, #ca5899, #ac3b6f, #11011f, #15011f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    background-repeat: no-repeat;
}
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }