<section class="row d-flex justify-content-center align-items-center m-3 ps-3 pe-3 pb-4 text-white text-center"
    id="sobre-mi-admin">
    <div *ngFor="let datoPerfil of perfil" class="row justify-content-center align-items-center">
        <div (click)="traerPerfil(datoPerfil.id)" class="row d-flex justify-content-end mt-2">
            <i class="bi bi-pencil-fill rounded-circle pt-2 p-1" type="button" data-bs-toggle="modal"
                data-bs-target="#editarPerfil" id="circulos-edicion-perfil"></i>
        </div>
        <div class="col-md-4 col-lg-4" id="sobre-mi">
            <img class="img-fluid rounded-circle img-thumbnail border-1" [src]="datoPerfil.imgPerfil" id="foto" alt="">
        </div>
        <div class="col-md-8 col-lg-8 pt-3 text-white text-center">
            <h1 class="display-4 nombre">{{datoPerfil.nombreCompleto}}</h1>
            <h3 class="titulo">{{datoPerfil.titulo}}</h3>
            <p class="mt-4" id="texto-presentacion">{{datoPerfil.acerca}}</p>
        </div>
    </div>
</section>
<app-editar-sobre-mi></app-editar-sobre-mi>
