#sobre-mi-admin{
    background-color: rgba(224, 214, 214, 0.055); 
    backdrop-filter: blur(2px);
    border-radius: 24px;
}

#circulos-edicion-perfil{
    font-size: 30px;
    width: 60px;
    height: 60px;
    margin-top: -75px;
    margin-right: -5px;
    background: rgb(128, 66, 104);
}

#circulos-edicion-perfil:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 15px #a97cc7;
}

#foto{
    width: 400px;
}

#texto-presentacion{
    font-size: 25px;
}

@media(max-width: 768px){
    #circulos-edicion-perfil{
        font-size: 22px;
        width: 50px;
        height: 50px;
        margin-top: -70px;
    }

    #foto{
        width: 300px;
    }

    .nombre{
        font-size: 30px;
    }

    .titulo{
        font-size: 20px;
    }

    #texto-presentacion{
        font-size: 18px;
    }
}